html body {
  margin: 0;
  height: 100%;
  font-family: 'Be Vietnam', Arial, sans-serif;
  background-color: rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  text-align: center;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  height:10000px
} 

nav {
  position: fixed;
  top: 0;
  overflow: visible; /* Fixed dropdown issue */
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 20px;
  font-size: 1.5rem;
  width:100%;
}

.nav-left {
  margin-left: 15px;
  color: white;

}

.nav-right {
  display: flex;
  align-items: center;
  margin-right: 3%;
}

.nav-right a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.register-button {
  background-color: #BE100C;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
  margin-left: 10px;
}

.register-button:hover {
  background-color: #BE100C;
  box-shadow: 0 0 15px #BE100C, 0 0 25px #BE100C;
  transform: scale(1.05);
  transition: 0.3s ease;
  font-weight: bold;
}

.dropbtn {
  padding: 14px 16px;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  margin-top: 0.1rem;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 230px;
  height: 120px;
  box-shadow: 0 0 15px #BE100C;
  z-index: 10000;
  border-radius: 3px;
  text-align: left;
  border: 1px solid #BE100C;
  font-size: 1.3rem;
  font-weight: bold;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-weight: bold;
}

.dropdown-content a:hover {
  background-color: #BE100C;
  color: white;
  box-shadow: 0 0 15px #BE100C;

}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: #BE100C;
}

.content {
  margin-top: -6em;
  background-image: url("https://64.media.tumblr.com/0a7c1cfb247dba6629b837126d1a1a7b/tumblr_oj0d44K1W51tmpbfno1_500.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  height: 65em;
  font-family: 'Be Vietnam', Arial, sans-serif;
}

.gradient {
  background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgb(0, 0, 0));
  height: 100%;
  font-family: 'Be Vietnam', Arial, sans-serif;
}

.gradient1 {
  background: linear-gradient(to bottom, rgba(255,0,0,0), #be100c);
  height: 100%;
  font-family: 'Be Vietnam', Arial, sans-serif;
}

.content h1 {
  color: #BE100C;
  font-size: 10rem;
  padding-top: 1.3em;
  animation-name: move;
  animation-timeline: scroll();
  animation-range: entry 0% 5%;
  animation-fill-mode: forwards;
  position: sticky;
  top: 0;
  font-family: 'Be Vietnam', Arial, sans-serif;
}

.content h2 {
  color: white;
  font-size: 6rem;
  margin-top: 1em;
  animation-name: move1;
  animation-timeline: scroll();
  animation-duration: 5s;
  animation-range: entry 0% 5%;
  animation-fill-mode: forwards;
  position: sticky;
  top: 0;
  font-family: 'Be Vietnam', Arial, sans-serif;
}

.banner {
  height: 20em;
  font-family: 'Be Vietnam', Arial, sans-serif;
}

.bottom {
  background: linear-gradient(to top, rgba(255,0,0,0), #be100c);
  height: 10em;
  font-family: 'Be Vietnam', Arial, sans-serif;
}

.banner h1 {
  animation-name: pop;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-timeline: scroll();
  font-family: 'Be Vietnam', Arial, sans-serif;
  color: white;
  margin-top: 8%;
}

.banner p {
  animation-name: pop;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-timeline: scroll();
  font-family: 'Be Vietnam', Arial, sans-serif;
  color: white;
  margin-top: 2%;
}

.details {
  height: 50em;
  font-family: 'Be Vietnam', Arial, sans-serif;
}

.detailsgradient {
  height: 100%;
  background: linear-gradient(to bottom, rgba(255,0,0,0), #be100c);
  font-family: 'Be Vietnam', Arial, sans-serif;
  margin-top: 30em;
}

.details h1 {
  animation-name: pop1;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-timeline: scroll();
  font-family: 'Be Vietnam', Arial, sans-serif;
  color: #BE100C;
  font-size: 8rem;
  margin-top: -15%;
  margin-left: -30%;
  top: 0.4em;
}

.details p {
  animation-name: pop1;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-timeline: scroll();
  font-family: 'Be Vietnam', Arial, sans-serif;
  font-size: 8rem;
  padding-top: 0;
  margin-top: -12%;
  color: white;
}

.dbox{
  animation-name: popd;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-timeline: scroll();
  font-family: 'Be Vietnam', Arial, sans-serif;
  background-color:rgb(37, 37, 37);
  border-color:#c72b28;
  border-width: 5px;
  border-style: solid;
  width: 40%;
  height: 55%;
  margin: 3% auto; 
}

.detailp {
  margin-left:27%;
  margin-top: -10.6%;
}

.boxcont p{
  font-family: 'Be Vietnam', Arial, sans-serif;
  font-size: 2em;
  margin-top: 65px;
  margin-left: -450px;
}

.dates {
  height: 50em;
  font-family: 'Be Vietnam', Arial, sans-serif;
}

.datescont {
  height: auto;
  font-family: 'Be Vietnam', Arial, sans-serif;
  position:sticky;
  top: 5em;
}

.dates h1 {
  animation-name: dscroll;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-timeline: view();
  font-family: 'Be Vietnam', Arial, sans-serif;
  font-weight: bold;
  color: #BE100C;
  font-size: 10rem;
  margin:auto;
}

.dates h2 {
  animation-name: dscroll1;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-timeline: view();
  font-family: 'Be Vietnam', Arial, sans-serif;
  font-weight: bold;
  color: White;
  font-size: 6em;
  margin-right:120px;
  margin-top: -35px;
}

.dates img {
  animation-name: dscrollI;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-timeline: view();
  width:230px;
  height:auto;
  margin-top: -150px;
  margin-left: 300px;
}

.day1 h1{
  animation-name: dscrollI;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-timeline: view();
  font-family: 'Be Vietnam', Arial, sans-serif;
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-size: 3em;
  margin-top: -100px;
  margin-left: 600px;
}

.day1 h3{
  animation-name: dscrollI;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-timeline: view();
  font-family: 'Be Vietnam', Arial, sans-serif;
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-size: 2em;
  margin-top: -5px;
  margin-left: 450px;
}

.date{
  width: 90px;
	height: 100px;
	transform: skew(-15deg);
	background: #ffffff;
  font-family: 'Be Vietnam', Arial, sans-serif;
  font-weight: bold;
  margin-left: 880px;
  margin-top: 75px;
}

.day2 h1{
  animation-name: dscrollI;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-timeline: view();
  font-family: 'Be Vietnam', Arial, sans-serif;
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-size: 3em;
  margin-top: -100px;
  margin-left: 550px;
}

.day2 h3{
  animation-name: dscrollI;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-timeline: view();
  font-family: 'Be Vietnam', Arial, sans-serif;
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-size: 2em;
  margin-top: -5px;
  margin-left: 400px;
}

.date1{
  width: 90px;
	height: 100px;
	transform: skew(-15deg);
	background: #ffffff;
  font-family: 'Be Vietnam', Arial, sans-serif;
  font-weight: bold;
  margin-left: 850px;
  margin-top: 20px;
}

.day3 h1{
  animation-name: dscrollI;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-timeline: view();
  font-family: 'Be Vietnam', Arial, sans-serif;
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-size: 3em;
  margin-top: -100px;
  margin-left: 500px;
}

.day3 h3{
  animation-name: dscrollI;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-timeline: view();
  font-family: 'Be Vietnam', Arial, sans-serif;
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-size: 2em;
  margin-top: -5px;
  margin-left: 350px;
}

.date2{
  width: 90px;
	height: 100px;
	transform: skew(-15deg);
	background: #ffffff;
  font-family: 'Be Vietnam', Arial, sans-serif;
  font-weight: bold;
  margin-left: 820px;
  margin-top: 20px;
}

@keyframes move {
  0% {

  }

  100% {
    color: #BE100C;
    font-size: 8rem;
    padding-top: 1.3em;
    margin-left: -50%;
    top: 0.4em;
  }
}

@keyframes move1 {
  0% {

  }

  100% {
    font-size: 8rem;
    margin-top: 20%;
    margin-left: 28%;
    top: 1.7em;
  }
}

@keyframes pop {
  0% {
    opacity: 0%;
  }

  5% {
    opacity: 0%
  }

  8% {
    opacity: 100%
  }
}

@keyframes pop1 {
  0% {
    opacity: 0%;
  }

  11% {
    opacity: 0%
  }

  16% {
    opacity: 100%
  }
}

@keyframes popd {
  0% {
    opacity: 0%;
  }

  16% {
    opacity: 0%
  }

  18% {
    opacity: 100%
  }
}

@keyframes dscroll {
  0% {
    opacity: 0%;
  }

  50% {
    opacity: 100%;
  }
}

@keyframes dscroll1 {
  0% {
    opacity: 0%;
  }

 50% {
    opacity: 100%;
  }
}

@keyframes dscrollI {
  0% {
    opacity: 0%;
  }

 60% {
    opacity: 100%;
  }
}